[submodule "backend"]
	path = backend
	url = git@github.com:zoemartin01/LMS-Backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:zoemartin01/LMS-Frontend.git
[submodule "overleaf"]
	path = overleaf
	url = https://git.overleaf.com/61a397247e8cf845507eeb12
[submodule "livecam"]
	path = livecam
	url = git@github.com:zoemartin01/LMS-Camera.git
